<div class="pd_loading">
	<div>
		<div class="c1"></div>
		<div class="c2"></div>
		<div class="c3"></div>
		<div class="c4"></div>
	</div>
	<span>loading</span>
</div>

<div class="landing-page">


	<div class="content-bg-wrap"></div>


	<!-- Header Standard Landing  -->

	<div class="header--standard header--standard-landing" id="header--standard">
		<div class="container">
			<div class="header--standard-wrap">

				<a href="#" class="logo">
					<div class="img-wrap">
						<img src="assets/img/logo.png" alt="Olympus">
						<img src="assets/img/logo-colored-small.png" alt="Olympus" class="logo-colored">
					</div>
					<div class="title-block">
						<h6 class="logo-title">Panda</h6>
						<div class="sub-title">SOCIAL NETWORK</div>
					</div>
				</a>

				<a href="#" class="open-responsive-menu js-open-responsive-menu">
					<svg class="olymp-menu-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
				</a>

				<div class="nav nav-pills nav1 header-menu">
					<div class="mCustomScrollbar">
						<ul>
							<li class="nav-item">
								<a href="#" class="nav-link">Home</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ... end Header Standard Landing  -->
	<div class="header-spacer--standard"></div>

	<div class="container">
		<div class="row display-flex">
			<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="landing-content">
					<h1>Chào mừng bạn đến với mạng xã hội học tập</h1>
					<p>chúng tôi mong muốn kết nối tất cả mọi người với nhau .. giúp cho việc học tập dễ dàng hơn ... với 5 triệu người dùng và hơn 100 nghìn giao viên .. chúng tôi cam kết đây là mạng xã hội học tập hiệu quả nhất
					</p>
					<a href="#" class="btn btn-md btn-border c-white">Tham gia ngay!</a>
				</div>
			</div>

			<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">

				<!-- Login-Registration Form  -->

				<div class="registration-login-form">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#profile" role="tab">
								<svg class="olymp-login-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-login-icon"></use></svg>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#home" role="tab">
								<svg class="olymp-register-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-register-icon"></use></svg>
							</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane" id="home" role="tabpanel" data-mh="log-tab">
							<div class="title h6">Đăng kí tham gia với Panda</div>
							<form class="content" #loginForm=ngForm (ngSubmit)="onRegister()">
								<div class="row">
									<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
										<div class="form-group label-floating is-empty">
											<label class="control-label">Họ</label>
											<input 
											type="text"
											ngModel name="firstname" 
											[(ngModel)]="form.firstname"
											class="form-control" 
											#firstname="ngModel" 
											minlength="2"
											required>
											<div *ngIf="firstname.touched && !firstname.valid">
												<small *ngIf="firstname.errors.required" class="text-danger">
													Vui lòng nhập họ
												</small>
												<small *ngIf="firstname.errors.minlength" class="text-danger">
													Họ phải lớn hơn hoặc bằng 2 kí tự
												</small>
											</div>
										</div>		
									</div>


									<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
										<div class="form-group label-floating is-empty">
											<label class="control-label">Tên</label>
											<input 
											ngModel name="lastname" 
											[(ngModel)]="form.lastname"
											class="form-control" 
											#lastname="ngModel" 
											minlength="2"
											required 
											type="text" >
											<div *ngIf="lastname.touched && !lastname.valid">
												<small *ngIf="lastname.errors.required" class="text-danger">
													Vui lòng nhập Tên
												</small>
												<small *ngIf="lastname.errors.minlength" class="text-danger">
													Tên phải lớn hơn hoặc bằng 2 kí tự
												</small>
											</div>
										</div>
									</div>
									<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<div class="form-group label-floating is-empty">
											<label class="control-label">Địa chỉ email</label>
											<input
											ngModel name="email" 
											[(ngModel)]="form.email"
											#email="ngModel"
											class="form-control" 
											required
											pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
											type="email" >
											<div *ngIf="!email.valid && email.touched">
												<small class="text-danger" *ngIf="email.errors.required">
													Vui lòng nhập địa chỉ email
												</small>
												<small class="text-danger" *ngIf="email.errors.pattern">
													Địa chỉ email không đúng định dạng
												</small>

											</div>
										</div>
										<div class="form-group label-floating is-empty">
											<label class="control-label">Mật khẩu</label>
											<input 
											ngModel name="password" 
											[(ngModel)]="form.password"
											class="form-control" 
											#password="ngModel" 
											required 
											type="password" >
											<small class="text-danger" *ngIf="!password.valid && password.touched">Vui lòng nhập mật khẩu</small>
										</div>

										<div class="form-group date-time-picker label-floating">
											<label class="control-label">Ngày sinh</label>
											<input 
											ngModel name="datetimepicker" 
											class="form-control" 
											#datetimepicker="ngModel" 
											[(ngModel)]="form.datetimepicker"
											>
											<span class="input-group-addon">
												<svg class="olymp-calendar-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
											</span>

										</div>

										<div class="form-group label-floating is-select">
											<label class="control-label">Giới tính</label>
											<select class="selectpicker form-control" ngModel name="gender" 
											[(ngModel)]="form.gender"
											#gender="ngModel">
											<option value="MA">Nam</option>
											<option value="FE">Nữ</option>
										</select>
									</div>

									<div class="remember">
										<div class="checkbox">
											<label>
												<input ngModel name="optionsCheckboxes" type="checkbox" #optionsCheckboxes="ngModel">
												Tôi đồng ý với <a data-toggle="modal" href='#dieu_khoan_dich_vu'>Điều khoản và nội quy</a> của website
											</label>
										</div>
										<small class="text-danger" *ngIf="!optionsCheckboxes.valid && optionsCheckboxes.touched">Vui lòng đồng ý với điều khoản dịch vụ</small>
									</div>

									<button type="submit" class="btn btn-purple btn-lg full-width" [disabled]="!loginForm.valid">Hoàn thành đăng kí!</button>
								</div>
							</div>
						</form>
					</div>

					<div class="tab-pane active" id="profile" role="tabpanel" data-mh="log-tab">
						<div class="title h6">Đăng nhập với tài khoản của bạn</div>
						<form #loginForm=ngForm class="content" (ngSubmit)="onLogin()" >
							<div class="row">
								<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="form-group label-floating is-empty">
										<label for="email" class="control-label">Địa chỉ email</label>
										<input class="form-control" [(ngModel)]="form.email" name="email" id="email" type="email">
									</div>
									<div class="form-group label-floating is-empty">
										<label for="password" class="control-label">Mật khẩu</label>
										<input class="form-control" [(ngModel)]="form.password" name="password" id="password" type="password">
									</div>

<!-- 	<div class="remember">

<div class="checkbox">
<label>
<input name="optionsCheckboxes" type="checkbox">
Ghi nhớ
</label>
</div>
<a href="#" class="forgot">Quên mật khẩu</a>
</div> -->

<button type="submit" class="btn btn-lg btn-primary full-width">Đăng nhập</button>

<div class="or"></div>
<!-- 
<a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left"><i class="fab fa-facebook-f" aria-hidden="true"></i>Đăng nhập với facebook</a>

<a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left"><i class="fab fa-twitter" aria-hidden="true"></i>Đăng nhập với Twitter</a>
-->

<p>Bạn chưa có tài khoản? <a href="javascript:;" class="on_register" (click)="onClickRegister()">Đăng kí ngay!</a> nó thật đơn giản để bắt đầu việc học tập của bạn!</p>
</div>
</div>
</form>
</div>
</div>
</div>

<!-- ... end Login-Registration Form  -->		
</div>
</div>
</div>
</div>



<div class="modal fade" id="dieu_khoan_dich_vu">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Điều khoản và dịch vụ</h4>
			</div>
			<div class="modal-body">

				<ul>
					<li>
<b>Điều 1: Nội dung dịch vụ</b>

<br>					</li>
					<li>
					1. Mạng xã hội học tập: Pandasocial cung cấp nền tảng công nghệ để Người Sử Dụng có thể tự xây dựng, tổ chức khóa học trực tuyến trên social.ducpanda.info</li>




					<li>2. Dịch vụ học trực tuyến: Người Sử Dụng có thể tham gia vào khóa học để học trực tuyến như xem video bài giảng, xem tài liệu, làm bài tập, kiểm tra và thi.
					</li>
					<li>
						3. Dịch vụ học tương tác trực tuyến: Người Sử Dụng có thể tham gia vào các bài giảng tương tác trực tuyến với Người Sử Dụng khác.
					</li>
<li>
					4. Dịch vụ hỏi đáp: social.ducpanda.info cung cấp diễn đàn để Người Sử Dụng có thể đặt câu hỏi, trả lời câu hỏi và thảo luận với Người Sử Dụng khác. Người Sử Dụng cũng có thể trao đổi ngay tại các nội dung học tập như Khóa học, Kỳ thi.
				</li>
				<li>
					5. Dịch vụ Giao lưu Mạng xã hội học tập: social.ducpanda.info cung cấp dịch vụ mạng xã hội học tập để Người Sử dụng có thể giao lưu, chia sẻ các học liệu; chat với nhau bằng ký tự, hình ảnh; kết bạn với nhau để cùng học và chia sẻ tài liệu

				</li>
				<li>

					6. social.ducpanda.info cho phép Người Sử Dụng truy cập và sử dụng sản phẩm trên website hoặc/và trên các ứng dụng social.ducpanda.info phát triển trong tương lai.
				</li>
				<li>
<br>
					<b>Điều 2: Các nội dung cấm trao đổi và chia sẻ trên mạng xã hội</b>
					<br>
				</li>
				<li>
					Khi sử dụng sản phẩm Social.ducpanda.info, nghiêm cấm Người Sử dụng một số hành vi bao gồm nhưng không giới hạn sau:
				</li>
				<li>
					Lợi dụng việc cung cấp, trao đổi, sử dụng thông tin trên Social.ducpanda.info nhằm mục đích:
				</li>
				<li>
					Chống lại Nhà nước Cộng hoà Xã hội chủ nghĩa Việt Nam; gây phương hại đến an ninh quốc gia, trật tự, an toàn xã hội; phá hoại khối đại đoàn kết toàn dân; tuyên truyền chiến tranh xâm lược, khủng bố; gây hận thù, mâu thuẫn giữa các dân tộc, sắc tộc, chủng tộc, tôn giáo.
				</li>
				<li>
					Tuyên truyền, kích động bạo lực, dâm ô, đồi trụy, tội ác, tệ nạn xã hội, mê tín dị đoan, phá hoại thuần phong, mỹ tục của dân tộc.
				</li>
				<li>
					Tuyệt đối không bàn luận, đăng tải các nội dung về các vấn đề chính trị.
				</li>
				<li>
					Người Sử Dụng lợi dụng việc sử dụng Social.ducpanda.info nhằm tiết lộ bí mật nhà nước, bí mật quân sự, an ninh, kinh tế, đối ngoại và những bí mật khác do pháp luật quy định bằng bất cứ hình thức nào trên Social.ducpanda.info.
				</li>
				<li>
					Quảng cáo, tuyên truyền, mua bán hàng hoá, dịch vụ bị cấm hoặc truyền bá tác phẩm báo chí, văn học, nghệ thuật, xuất bản phẩm bị cấm trên Social.ducpanda.info.
				</li>
				<li>
					Khi giao tiếp với Người Sử Dụng khác, Người Sử Dụng quấy rối, chửi bới, làm phiền hay có bất kỳ hành vi thiếu văn hoá.
				</li>
				<li>
					Người Sử Dụng có quyền sử dụng đối với hình ảnh của mình. Khi sử dụng hình ảnh của cá nhân khác, Người Sử Dụng phải được sự đồng ý của cá nhân đó. Nghiêm cấm việc sử dụng hình ảnh của người khác mà xâm phạm danh dự, nhân phẩm, uy tín của người có hình ảnh.
				</li>
				<li>
					Lợi dụng mạng xã hội học tập Social.ducpanda.info để thu thập thông tin của Người Sử Dụng, công bố thông tin, tư liệu về đời tư của Người Sử Dụng khác.
				</li>
				<li>
					Đặt thành viên theo tên của danh nhân, tên các vị lãnh đạo của Đảng và Nhà nước, tên của cá nhân, tổ chức tội phạm, phản động, khủng bố hoặc tài khoản có ý nghĩa không lành mạnh, trái với thuần phong mỹ tục.
				</li>
				<li>
					Đưa thông tin xuyên tạc, vu khống, nhạo báng, xúc phạm uy tín tới tổ chức, cá nhân dưới bất kỳ hình thức nào (nhạo báng, chê bai, kỳ thị tôn giáo, giới tính, sắc tộc... ).
				</li>
				<li>
					Hành vi, thái độ làm tổn hại đến uy tín Social.ducpanda.info hoặc ViettelStudy dưới bất kỳ hình thức hoặc phương thức nào.
				</li>
				<li>
					Nghiêm cấm quảng bá bất kỳ sản phẩm dưới bất kỳ hình thức nào, bao gồm nhưng không giới hạn việc gửi, truyền bất kỳ thông điệp nào mang tính quảng cáo, mời gọi, thư dây truyền, cơ hội đầu tư trên Social.ducpanda.info mà không có sự đồng ý bằng văn bản của ViettelStudy.
				</li>
				<li>
					Lợi dụng Social.ducpanda.info để tổ chức các hình thức cá cược, cờ bạc hoặc các thỏa thuận liên quan đến tiền, hiện kim, hiện vật.
				</li>
				<li>
					Cản trở trái pháp luật, gây rối, phá hoại hệ thống máy chủ; cản trở việc truy cập thông tin và sử dụng các dịch vụ hợp pháp trên Social.ducpanda.info.
				</li>
				<li>
					Sử dụng trái phép mật khẩu, kho mật mã của các tổ chức, cá nhân, thông tin riêng, thông tin cá nhân và tài nguyên Internet.
				</li>
				<li>
					Trực tiếp hoặc gián tiếp sử dụng bất kỳ thiết bị, phần mềm, trang web internet, dịch vụ dựa trên web, hoặc các phương tiện khác để gỡ bỏ, thay đổi, bỏ qua, lẩn tránh, cản trở, hoặc phá hoại bất kỳ bản quyền, thương hiệu, hoặc các dấu hiệu về quyền sở hữu khác được đánh dấu trên Nội dung (như logo) hoặc bất kỳ hệ thống kiểm soát dữ liệu, thiết bị, biện pháp bảo vệ nội dung khác cũng như các biện pháp hạn chế truy cập từ các vùng địa lí khác nhau.
				</li>
				<li>
					Trực tiếp hoặc gián tiếp thông qua bất kỳ thiết bị, phần mềm, trang web internet, dịch vụ dựa trên web, hoặc các phương tiện khác để sao chép, tải về, chụp lại, sản xuất lại, nhân bản, lưu trữ, phân phối, tải lên, xuất bản, sửa đổi, dịch thuật, phát sóng, trình chiếu, hiển thị, bán, truyền tải hoặc truyền lại nội dung trừ khi được sự cho phép của Social.ducpanda.info bằng văn bản.
				</li>
				<li>
					Tạo ra, tái tạo, phân phối hay quảng cáo một chi tiết của bất kỳ nội dung trừ khi được phép của Social.ducpanda.info. Bạn không được phép xây dựng mô hình kinh doanh sử dụng các Nội dung cho dù là có hoặc không vì lợi nhuận. Nội dung được đề cập tại Social.ducpanda.info bao gồm nhưng không giới hạn bất kỳ văn bản, đồ họa, hình ảnh, bố trí, giao diện, biểu tượng, hình ảnh, tài liệu âm thanh và video, và ảnh tĩnh. Ngoài ra, chúng tôi nghiêm cấm việc tạo ra các sản phẩm phát sinh hoặc vật liệu có nguồn gốc từ hoặc dựa trên bất kì Nội dung nào bao gồm dựng phim, làm video tương tự, hình nền, chủ đề máy tính, thiệp chúc mừng, và hàng hóa, trừ khi nó được sự cho phép của Social.ducpanda.info bằng văn bản.
				</li>
				<li>
					Giả mạo tổ chức, cá nhân và phát tán thông tin giả mạo, thông tin sai sự thật trên Social.ducpanda.info xâm hại đến quyền và lợi ích hợp pháp của tổ chức, cá nhân.
				</li>
				<li>
					Tạo đường dẫn trái phép tới tên miền hợp pháp của tổ chức, cá nhn. Tạo, cài đặt, phát tán các phần mềm độc hại, vi rút máy tính; xâm nhập trái phép, chiếm quyền điều khiển hệ thống thông tin, tạo lập công cụ tấn công trên Internet.
				</li>
				<li>
					Tuyệt đối không sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào Social.ducpanda.info.
				</li>
				<li>
					Nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của sản phẩm cung cấp hoặc hệ thống máy chủ Social.ducpanda.info.
				</li>
				<li>
					Không được có bất kỳ hành vi nào nhằm đăng nhập trái phép hoặc tìm cách đăng nhập trái phép hoặc gây thiệt hại cho hệ thống máy chủ Social.ducpanda.info.

					Nghiêm cấm mọi hành vi xâm phạm khác dưới mọi hình thức tới sản phẩm, tài sản và uy tín của ViettelStudy.
				</li>
			</ul>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
</div>
