<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col col-xl-6 m-auto col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="page-404-content">
					<img src="assets/img/404.png" alt="photo">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="h1 heading-title">404 <span class="c-primary">NOT FOUND</span></h2>
						<p class="heading-text">
						Xin lỗi đường dẫn bạn đang tìm kiếm hiện không tồn tại ! vui lòng quay trở lại sau hoặc liên hệ Admin : <a href="mailto:admin@ducpanda.info?subject=feedback" >admin@ducpanda.info</a>
						</p>
					</div>
					<a href="/" class="btn btn-primary btn-lg">Trở về trang chủ</a>
				</div>
			</div>
		</div>
	</div>
</section>