<div class="ui-block">
	<div class="ui-block-title">
		<h6 class="title">Thay đổi mật khẩu</h6>
	</div>
	<div class="ui-block-content">


		<!-- Change Password Form -->

		<form #loginForm=ngForm (ngSubmit)="changePassword()">
			<div class="row">

				<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="form-group label-floating is-empty">
						<label class="control-label">Mật khẩu cũ</label>
						<input class="form-control" placeholder="" type="password"
						ngModel name="current_password" 
						[(ngModel)]="form.current_password"
						class="form-control" 
						#current_password="ngModel" 
						required
						>
						<span *ngIf="current_password.touched && !current_password.valid">
							<small *ngIf="current_password.errors.required" class="text-danger">
								Vui lòng nhập mật khẩu cũ
							</small>
						</span>
					</div>

				</div>

				<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
					<div class="form-group label-floating is-empty">
						<label class="control-label">Mật khẩu mới</label>
						<input class="form-control" placeholder="" type="password"
						ngModel name="password" 
						[(ngModel)]="form.password"
						class="form-control" 
						#password="ngModel" 
						minlength="2" 
						required
						>
						<span *ngIf="password.touched && !password.valid">
							<small *ngIf="password.errors.required" class="text-danger">
								Vui lòng nhập mật khẩu
							</small>
							<small *ngIf="password.errors.minlength" class="text-danger">
								Mật khẩu phải lớn hơn 2 kí tự
							</small>
						</span>
					</div>
				</div>
				<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
					<div class="form-group label-floating is-empty">
						<label class="control-label">Nhập lại mật khẩu mới</label>
						<input class="form-control" placeholder="" type="password"
						ngModel name="re_password" 
						[(ngModel)]="form.re_password"
						class="form-control" 
						#re_password="ngModel" 
						minlength="2" 
						required
						>
						<span *ngIf="re_password.touched && !re_password.valid">
							<small *ngIf="re_password.errors.required" class="text-danger">
								Vui lòng nhập mật khẩu
							</small>
							<small *ngIf="re_password.errors.minlength" class="text-danger">
								Mật khẩu phải lớn hơn 2 kí tự
							</small>
						</span>
					</div>
				</div>
				<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
					<button class="btn btn-primary btn-lg full-width" type="submit" [disabled]="!loginForm.valid">Cập nhật thông tin</button>
				</div>
			</div>
		</form>

		<!-- ... end Change Password Form -->
	</div>
</div>