.popup-chat-responsive.open-chat{
	bottom: 0;
	top: auto;
}
.popup-chat-responsive{
	right: 11%;
	bottom: 10px;
	box-shadow: -1px 7px 6px 0px rgba(19, 19, 19, 0.5);
	margin-bottom: 2px;	
}
.popup-chat-responsive .mCustomScrollbar{
	    max-height: 250px;
}