
<div class="ui-block popup-chat popup-chat-responsive open-chat chatRealtime" *ngFor="let itemFriends of dataFriends" id='chatRealtime_{{itemFriends.uid_user}}' style="display: none">
	<div class="modal-content" *ngIf="myInfo">
		<div class="modal-header">
			<span class="icon-status online"></span>
			<h6 class="title">{{itemFriends.name}} </h6>
			<div class="more">
				<svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				<svg class="olymp-little-delete" (click)="closeMsg()"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
			</div>
		</div>
		<div class="modal-body">
			<div class="mCustomScrollbar" data-mcs-theme="dark">
				<ul class="notification-list chat-message chat-message-field" id="style-4" (scroll)="onScrollGetMsg($event)">
					<a href="javascript:;" *ngFor="let messages of dataMessage"> 
						<li *ngIf="messages.channel == itemFriends.channel" [ngClass]="messages.user.id == myInfo.id ? 'my_message': 'friend_message'"  >
							<div class="author-thumb">
								<img src="{{messages.user.avatar}}" alt="author">
							</div>
							<div class="notification-event" >
								<span class="chat-message-item" *ngFor="let itemMessage of messages.message">{{itemMessage.message}}</span>
							</div>
						</li>

					</a>
				</ul>
			</div>
		</div>
		<form class="need-validation" #loginForm=ngForm>

			<div class="form-group label-floating is-empty">
				<label class="control-label">Nhập gì đó...</label>
				<textarea class="form-control box_chat_clear" (keypress)="changeCommentTextera($event)" (keyup.enter)="sendMsg(itemFriends.uid_user)" (click)="onDeleteCountMsg(itemFriends.uid_user)" id="box_chat"></textarea>

				<div class="add-options-message">
					<!-- <a href="javascript:;" class="options-message">
						<svg class="olymp-computer-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
						<input type="file" id="img_pop_upload" (change)="changeUploadImage($event)" multiple accept="image/png, image/jpeg">
					</a> -->


				</div>
				<div class="show_img_before_upload">
 
				</div>
			</div>

		</form>


	</div>
</div>