.popup-chat-responsive.open-chat{
	bottom: 0;
	top: auto;
}
.popup-chat-responsive{
	right: 11%;
	bottom: 10px;
	box-shadow: -1px 7px 6px 0px rgba(19, 19, 19, 0.5);
	margin-bottom: 2px;	
}
.popup-chat-responsive .mCustomScrollbar{
	max-height: 250px;
}

.chat-message-item{
	width: inherit;
	white-space: pre-wrap;
}
.popup-chat .notification-event{
	width: 80%;
}
.mCustomScrollbar{
	min-height: 250px;
}
.chat-message li>*{
	vertical-align: bottom;
}

ul.chat-message-field{
	width: 100%;
	height: 300px;
	overflow-y: auto;
	padding-bottom: 40px;
}



 
.my_message .author-thumb{
	float: right;
}
.my_message .notification-event{
	float: right !important;
	padding: 0 !important;
	padding-right:10px !important;
}
.my_message .chat-message-item{
	background-color: #7c5ac2 !important;
	color: #fff !important;
	float:right !important;
}

.friend_message .author-thumb{
	float: left !important;
}
.friend_message .notification-event{
	float: left !important;
	padding: 0 !important;
	padding-left:10px !important;
}
.friend_message .chat-message-item{
	background-color: #edf2f6 !important;
	color: #888da8 !important;
	float: left !important;
}


.author-thumb img{
	width: 30px;
	object-fit: cover;
}

 


#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #f1f1f1;
}

#style-4::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #888;
	border: 2px solid #888;
}
