<app-sidebar-right-fixed></app-sidebar-right-fixed>
<app-header-bp></app-header-bp>

<div class="container" *ngIf="listPost && myInfo">
	<div class="row">

		<!-- Main Content -->

		<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">

			<div class="ui-block">
				
				<!-- News Feed Form  -->
				
				<div class="news-feed-form">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

								<svg class="olymp-status-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-status-icon"></use></svg>

								<span>Trạng Thái</span>
							</a> 
						</li>

					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
							<form #loginForm=ngForm (ngSubmit)="postNewsFeed()" enctype="multipart/form-data">
								<div class="author-thumb">
									<img src="{{myInfo.avatar}}" alt="author">
								</div>
								<div class="form-group with-icon label-floating is-empty">
									<label class="control-label">Hôm nay bạn cảm thấy thế nào...</label>
									<textarea 
									class="form-control" 
									placeholder="" 
									ngModel name="content" 
									[(ngModel)]="postNews.content"
									#content="ngModel"	
									required id="clean_inp"></textarea>
									<small class="text-danger" style="margin-left: 20px" *ngIf="content.touched && !content.valid">nhập gì đó đi bạn êi</small>
								</div>

								<div class="show_img_beforeupload">
								</div>

								<div class="add-options-message">
									<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">
										<svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
										<input type="file" id="img_pop_upload" (change)="changeUpoadImage($event)" multiple accept="image/png, image/jpeg">
									</a>
								<!-- 	<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="TAG YOUR FRIENDS">
										<svg class="olymp-computer-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
									</a>

									<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD LOCATION">
										<svg class="olymp-small-pin-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
									</a> -->

									<button type="submit" class="btn btn-primary btn-md-2" [disabled]="!loginForm.valid">Đăng Bài viết</button>
									<!-- <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button> -->

								</div>

							</form>
						</div>

					</div>
				</div>
				
				<!-- ... end News Feed Form  -->			
			</div>

			<div id="newsfeed-items-grid" *ngFor="let itemPost of listPost">


				<div class="ui-block">

					<article class="hentry post has-post-thumbnail">

						<div class="post__author author vcard inline-items">
							<img src="{{itemPost.post_user_info.avatar}}" alt="author">

							<div class="author-date">
								<a href="javascript:void(0)" class="h6 post__author-name fn" [routerLink]="['/u', itemPost.post_user_info.uid_user]" >
									{{itemPost.post_user_info.name}}
								</a>
								<div class="post__date">
									<time class="published" datetime="2004-07-24T18:18">
										{{itemPost.created_at}}
									</time>
								</div>
							</div>

							<div class="more" *ngIf="itemPost.isMyPost">
								<svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									<li>
										<a href="javascript:void(0)" (click)="editMyPost(itemPost.post_id)">Sửa bài viết </a>
									</li>
									<li>
										<a href="javascript:void(0)" (click)="deletePost(itemPost.post_id)">Xóa bài viết</a>
									</li>
								</ul>
							</div> 
						</div>

						<p id="seemore_{{itemPost.post_id}}">{{itemPost.content}}
						</p>
						<a href="javascript:void(0)" *ngIf="itemPost.content.length >600" (click)="seemore(itemPost.post_id)" id="button_see_more_{{itemPost.post_id}}">see more</a>

						<div class="post-thumb" *ngIf="itemPost.listImage">
							<img *ngFor="let itemImg of itemPost.listImage" (click)="openImg(itemImg.image)" src="{{itemImg.image}}" alt="photo">
						</div>

						<div class="post-additional-info inline-items" >

							<a href="javascript:void(0)" (click)="updateActionStatus(itemPost.post_id,'like')" class="post-add-icon inline-items" [style.color] = "itemPost.action_with_post.isMyLiked == true ? '#ff5e3a' : '#9a9fbf'">
								<svg class="olymp-heart-icon" [style.fill] = "itemPost.action_with_post.isMyLiked == true ? '#ff5e3a' : '#9a9fbf'" ><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
								<span>{{itemPost.action_with_post.awp_like}} Likes</span>
							</a>

							<div class="comments-shared" >
								<a href="javascript:void(0)" class="post-add-icon inline-items" (click)="toggleComment(itemPost.post_id)">
									<svg class="olymp-speech-balloon-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
									<span>{{itemPost.action_with_post.awp_comment}} Comments</span>
								</a>
							</div>
						</div>

						<div class="control-block-button post-control-button">

							<a href="javascript:void(0)" (click)="updateActionStatus(itemPost.post_id,'like')" class="btn btn-control" [style.background-color] = "itemPost.action_with_post.isMyLiked == true ? '#ff5e3a' : '#9a9fbf'">
								<svg class="olymp-like-post-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
							</a>

							<a href="javascript:void(0)"  class="btn btn-control" (click)="toggleComment(itemPost.post_id)">
								<svg class="olymp-comments-post-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
							</a>
						</div>

					</article>

					<!-- Comments -->
					<div id="show_list_comment_{{itemPost.post_id}}" style="display: none"> 
						<ul class="comments-list style-2" *ngIf="itemPost.listcomment">
							<li class="comment-item" *ngFor="let itemComment of itemPost.listcomment">
								<div class="post__author author vcard">
									<img src="{{itemComment.user_data.avatar}}" alt="author">

									<div class="author-date">
										<p><a class="h6 post__author-name fn" [routerLink]="['/u', itemComment.user_data.uid_user]">{{itemComment.user_data.name}}</a> {{itemComment.content}}</p>
										<div class="post__date">
											<time class="published" datetime="2017-03-24T18:18">
												{{itemComment.created_at}}
											</time>
										</div>
										<a *ngIf="itemComment.isMyComment =='true'" href="javascript:void(0)" (click)="deleteComment(itemComment.comment_id, itemPost.post_id)">
											xóa
										</a>
									</div>

								</div>
							</li>
						</ul>
						<!-- ... end Comments -->
						<a href="javascript:void(0)" class="more-comments" *ngIf="itemPost.listcomment" (click)="getMoreComment(itemPost.post_id)" id="more_comment_{{itemPost.post_id}}">
							<i class="fa fa-spinner fa-spin" style="display: none"></i>
							Xem thêm bình luận <span></span>
						</a>

						<form class="comment-form inline-items" #loginForm=ngForm (ngSubmit)="pushCommentStatus(itemPost.post_id)">

							<div class="post__author author vcard inline-items">
								<img src="{{myInfo.avatar}}" alt="author">
								<div class="form-group with-icon-right ">
									<textarea class="form-control box_comment_d" 
									(change)="changeCommentTextera($event)"  
									></textarea>
									
								</div>
							</div>
							<button class="btn btn-md-2 btn-primary">Đăng bình luận</button>
						</form>
					</div>
				</div>
			</div>


			<div class="timeline-wrapper" *ngIf="issetData">
				<div class="timeline-item">
					<div class="animated-background">
						<div class="background-masker header-top"></div>
						<div class="background-masker header-left"></div>
						<div class="background-masker header-right"></div>
						<div class="background-masker header-bottom"></div>
						<div class="background-masker subheader-left"></div>
						<div class="background-masker subheader-right"></div>
						<div class="background-masker subheader-bottom"></div>
						<div class="background-masker content-top"></div>
						<div class="background-masker content-first-end"></div>
						<div class="background-masker content-second-line"></div>
						<div class="background-masker content-second-end"></div>
						<div class="background-masker content-third-line"></div>
						<div class="background-masker content-third-end"></div>
					</div>
				</div>
			</div>
			<h4 *ngIf="!issetData" class="text-center">Không có bài viết nào để hiển thi</h4>

		</main>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">
			<app-box-weather></app-box-weather>

			<app-box-calendar></app-box-calendar>

			<!-- W-Friend-Pages-Added -->

			<!-- <app-box-page-you-may-like></app-box-page-you-may-like> -->

			<!-- .. end W-Friend-Pages-Added -->

		</aside>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">
			<!-- <app-box-birthday></app-box-birthday> -->
			<app-box-friend-suggestions></app-box-friend-suggestions>
			<!-- <app-box-activity-feed></app-box-activity-feed> -->
		</aside>

		<!-- ... end Right Sidebar -->
	</div>
</div>

<app-windown-popup></app-windown-popup>
// <app-windown-popup-chat></app-windown-popup-chat>


<!-- model sửa bài viết -->

<div class="modal fade" id="modal-edit-post">
	<div class="modal-dialog">
		<form class="modal-content" #loginForm2=ngForm (ngSubmit)="postEditMyPost()">
			<div class="modal-header">

				<h4 class="modal-title">Sửa bài viết</h4>
			</div>
			<div class="modal-body">
				<textarea 
				class="form-control" 
				placeholder="" 
				ngModel name="content2" 
				[(ngModel)]="editPost.content"
				#content2="ngModel"	
				required id="clean_inp2"></textarea>
				<small class="text-danger" style="margin-left: 20px" *ngIf="!content2.valid">bạn cần sửa gì đấy :D</small>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
				<button type="submit" class="btn btn-primary" [disabled]="!loginForm2.valid" >Lưu thay đổi</button>
			</div>
		</form>
	</div>
</div>

<div class="modal fade" id="show_img">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- <div class="modal-body"> -->
				<div class="modal-body">
					<img src="assets/img/open-photo1.jpg" width="100%" alt="photo" id="change_img_ch">
				</div>
				<!-- </div> -->
			</div>
		</div>
	</div>

	
<app-windown-popup-chat></app-windown-popup-chat>