
<!-- Top Header-Profile -->
<div *ngIf="DataUser">
	<div class="container" [hidden]="!isMydata">
		<div class="row">
			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="ui-block">
					<div class="top-header">
						<div class="top-header-thumb">
							<img src="{{DataUser.cover}}" alt="nature" id="main_cover">
						</div>
						<div class="profile-section">
							<div class="row">
								<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
									<ul class="profile-menu">
										<li>
											<a href="javascript:;" [routerLink]="['/u', DataUser?.uid_user]" class="active">Dòng Thời Gian</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/u/about', DataUser?.uid_user]">Thông Tin</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/u/friends', DataUser?.uid_user]">Bạn Bè</a>
										</li>
									</ul>
								</div>
								<div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
									<ul class="profile-menu">
										<li>
											<a href="javascript:;" [routerLink]="['/u/photos', DataUser?.uid_user]">Hình Ảnh</a>
										</li>
										<li>
											<a href="javascript:;"  routerLink="/u/{{DataUser.uid_user}}/settings">Cài đặt</a>
										</li>
										<li>
											<div class="more">
												<svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
												<ul class="more-dropdown more-with-triangle triangle-bottom-right">
													<li class="file-upload">
														<label for="upload" class="file-upload__label bg-blue">Cập nhật ảnh đại diện</label>
														<input type="file" id="img_pop_upload" (change)="changeAvatar($event)">
													</li>
													<li class="file-upload">
														<label for="upload" class="file-upload__label bg-red">Cập nhật ảnh bìa</label>
														<input type="file" id="img_pop_upload" (change)="changeCover($event)">
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</div>

							<div class="control-block-button">
								<!-- <a href="35-YourAccount-FriendsRequests.html" class="btn btn-control bg-blue">
									<svg class="olymp-happy-face-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
								</a>

								<a href="#" class="btn btn-control bg-purple">
									<svg class="olymp-chat---messages-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
								</a> -->

								<!-- <div class="btn btn-control bg-primary more">
									<svg class="olymp-settings-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>

									<ul class="more-dropdown more-with-triangle triangle-bottom-right">
										<li>
											<a href="#" data-toggle="modal" data-target="#update-header-photo">Cập nhật ảnh đại diện</a>
										</li>
										<li>
											<a href="#" data-toggle="modal" data-target="#update-header-photo">Cập nhật ảnh bìa</a>
										</li>
										<li>
											<a href="29-YourAccount-AccountSettings.html">Cài đặt tài khoản</a>
										</li>
									</ul>
								</div> -->
							</div>
						</div>
						<div class="top-header-author">
							<a href="javascript:;" [routerLink]="['/u', DataUser?.uid_user]" class="author-thumb">
								<img src="{{DataUser?.avatar}}" alt="author" id="main_avatar">
							</a>
							<div class="author-content">
								<a href="javascript:;" [routerLink]="['/u', DataUser?.uid_user]" class="h4 author-name">{{DataUser?.name}}</a>
								<div class="country">Hà Nội</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container" [hidden]="isMydata">
		<div class="row">
			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="ui-block">
					<div class="top-header top-header-favorit">
						<div class="top-header-thumb">
							<img src="{{DataUser.cover}}" alt="nature">
							<div class="top-header-author">
								<div class="author-thumb">
									<img src="{{DataUser.avatar}}" alt="author" (click)="openImg(DataUser.avatar)">
								</div>
								<div class="author-content">
									<a href="javascript:void(0)" class="h3 author-name">{{DataUser.name | lowercase }}</a>
									<div class="country">Hà Nội</div>
								</div>
							</div>
						</div>
						<div class="profile-section">
							<div class="row">
								<div class="col col-xl-8 m-auto col-lg-8 col-md-12">
									<ul class="profile-menu">
										<li>
											<a href="javascript:;" [routerLink]="['/u', DataUser?.uid_user]" class="active">Dòng Thời Gian</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/u/about', DataUser?.uid_user]">Thông Tin</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/u/friends', DataUser?.uid_user]">Bạn Bè</a>
										</li>
										<li>
											<a href="javascript:;" [routerLink]="['/u/photos', DataUser?.uid_user]">Hình Ảnh</a>
										</li>
										<li>
											<a href="javascript:;"></a>
										</li>
									</ul>
								</div>
							</div>

							<div class="control-block-button">
								<span class="notification-icon">
									<a href="javascript:void(0)" class="accept-request" *ngIf="DataUser.isMyfriends =='notfriend'" (click)="makeFriend()">
										<span class="icon-add">
											<svg class="olymp-happy-face-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
										</span>
										Gửi lời mời kết bạn
									</a>

									<a href="javascript:void(0)" class="accept-request" *ngIf="DataUser.isMyfriends == 'sendfriend'" (click)="cancelFriend()" style="background-color: darkcyan">
										<span class="icon-add">
											<svg class="olymp-happy-face-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
										</span>
										Đã gửi lời mời kết bạn
									</a>

									<a href="javascript:void(0)" class="accept-request" *ngIf="DataUser.isMyfriends =='friend'" style="background-color: gray" (click)="deleteFriend()">
										<span class="icon-minus" style="margin-right: 15px">
											<svg class="olymp-happy-face-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
										</span>
										Hủy kết bạn
									</a>

									<a href="javascript:void(0)" class="accept-request" *ngIf="DataUser.isMyfriends =='pendingfriend'" (click)="AppendFriends()" style="background-color: tomato">
										<span class="icon-add">
											<svg class="olymp-happy-face-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
										</span>
										Chấp nhận kết bạn
									</a>

								</span>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-show-img-popup></app-show-img-popup>




<div class="modal fade" id="update-header-photo">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>